<a href="https://colab.research.google.com/github/ChungmoSon/ChungmoSon/blob/main/0201_sentencepiece.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
pip install sentencepiece

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting sentencepiece
  Downloading sentencepiece-0.1.97-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (1.3 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.3/1.3 MB 15.6 MB/s eta 0:00:00
Installing collected packages: sentencepiece
Successfully installed sentencepiece-0.1.97

In [3]:
import sentencepiece as spm
import pandas as pd
import urllib.request
import csv

In [4]:
urllib.request.urlretrieve("https://raw.githubusercontent.com/LawrenceDuan/IMDb-Review-Analysis/master/IMDb_Reviews.csv", filename="IMDb_Reviews.csv")

('IMDb_Reviews.csv', <http.client.HTTPMessage at 0x7f9cb145aa00>)

In [5]:
train_df = pd.read_csv('IMDb_Reviews.csv')
train_df['review']

0        My family and I normally do not watch local mo...
1        Believe it or not, this was at one time the wo...
2        After some internet surfing, I found the "Home...
3        One of the most unheralded great works of anim...
4        It was the Sixties, and anyone with long hair ...
                               ...
49995    the people who came up with this are SICK AND ...
49996    The script is so so laughable... this in turn,...
49997    "So there's this bride, you see, and she gets ...
49998    Your mind will not be satisfied by this nobud...
49999    The chaser's war on everything is a weekly sho...
Name: review, Length: 50000, dtype: object

In [6]:
print('리뷰 개수 :',len(train_df)) # 리뷰 개수 출력

리뷰 개수 : 50000

In [7]:
with open('imdb_review.txt', 'w', encoding='utf8') as f:
    f.write('\n'.join(train_df['review']))

In [20]:
spm.SentencePieceTrainer.Train('--input=2.txt --model_prefix=imdb --vocab_size=660 --model_type=bpe --max_sentence_length=9999')

In [23]:
urllib.request.urlretrieve("https://raw.githubusercontent.com/e9t/nsmc/master/ratings.txt", filename="ratings.txt")

('ratings.txt', <http.client.HTTPMessage at 0x7f9cb1173ac0>)

In [24]:
vocab_list = pd.read_csv('imdb.vocab', sep='\t', header=None, quoting=csv.QUOTE_NONE)
vocab_list.sample(10)

       0    1
528    억 -525
361   해서 -358
643    칭 -640
600    벌 -597
172   IN -169
124  ▁모든 -121
273   기는 -270
95    ▁살  -92
572    꾸 -569
313   성된 -310

In [10]:
len(vocab_list)

5000

In [11]:
sp = spm.SentencePieceProcessor()
vocab_file = "imdb.model"
sp.load(vocab_file)

True

In [22]:
lines = [
  "올해 5곳 안팎의 시·도가 RISE 시범 지역으로 선정돼 내년까지 운영할 예정이다.",
  "2025년부터는 수도권을 포함한 전국에서 지자체가 대학을 지원하는 체계가 자리잡게 된다. "
]
for line in lines:
  print(line)
  print(sp.encode_as_pieces(line))
  print(sp.encode_as_ids(line))
  print()

올해 5곳 안팎의 시·도가 RISE 시범 지역으로 선정돼 내년까지 운영할 예정이다.
['▁', '올해', '▁5', '곳', '▁', '안팎의', '▁', '시·도가', '▁R', 'IS', 'E', '▁', '시범', '▁', '지역으로', '▁', '선정돼', '▁', '내년까지', '▁', '운영할', '▁', '예정이다', '.']
[4924, 0, 1301, 0, 4924, 0, 4924, 0, 189, 2881, 4969, 4924, 0, 4924, 0, 4924, 0, 4924, 0, 4924, 0, 4924, 0, 4945]

2025년부터는 수도권을 포함한 전국에서 지자체가 대학을 지원하는 체계가 자리잡게 된다.
['▁20', '2', '5', '년부터는', '▁', '수도권을', '▁', '포함한', '▁', '전국에서', '▁', '지자체가', '▁', '대학을', '▁', '지원하는', '▁', '체계가', '▁', '자리잡게', '▁', '된다', '.']
[2057, 4990, 4994, 0, 4924, 0, 4924, 0, 4924, 0, 4924, 0, 4924, 0, 4924, 0, 4924, 0, 4924, 0, 4924, 0, 4945]